
@{
    ViewBag.Title = "InvalidLogin";
}

<h2>InvalidLogin : @ViewBag.inValidEmail </h2>

<p>
    Make sure following things while logging in to this application :
    <ul>
        <li>
            You need to have a valid V2Solutions UserID
        </li>
        <li>
            You need to be an active employee of V2solutions
        </li>
        <li>
            please do not use email id's of other V2Solutions Employees
        </li>
        <li>
            If you are frequently redirected to this page, kindly logout and login with v2solutions email id.
        </li>
    </ul>
    <div>
        <a href="https://my.v2solutions.com">Click here to login</a>
    </div>
</p>

